@import './_input.css';
@import './_button.css';



h1{
  color:var(--black);
}

.login-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--white); 
  box-sizing: border-box;
}